/*
Calculator
*/

body
{
    height:100%;
    width: 100%;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
}

#calculator
{
    background-color: rgb(109, 80, 95);
    min-height:300px;
    min-width: 200px;
    max-height:400px;
    max-width:40%;
    border: 2px black;
    border-style: groove;
}

#calculator-screen-container
{
    min-height: 80px;
    background-color: blueviolet;
    margin: 0 2px 5px 2px;
}

#calculator-screen
{
    font-size: 38px;
    margin: 2px;
}

#calculator-body
{
    margin-inline: 4px; 
}

.button
{
    height: 45px;
    width:  45px;
    background-color:rgba(139, 130, 126, 0.5);
    border: 2px black;
    border-style: dotted;
    margin: 2px 0px;
}